.eventExternal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly !important;
  /* min-height: calc(100vh - 85px); */
}
.eventOuterHeading {
  /* padding-bottom: 10px;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  font-family: Inter, sans-serif;
  color: #fff; */
  font-size: 1.5rem !important;
  text-align: center;
  color: #fff;
  font-weight: 700 !important;
}
.eventOuter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-bottom: 20px;
}

.eventOrgSubTitle {
  margin-top: 5px !important;
  font-size: 0.8rem !important;
  font-weight: 600 !important;
  font-family: Inter, sans-serif;
}

.eventOrgTitle {
  margin-top: 5px !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  font-family: Inter, sans-serif;
  color: #8a1538 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 4px !important;
}

.eventCardExternal {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 10px !important;
  /* padding: 20px; */
  cursor: default;
}

.eventImg {
  width: 280px !important;
  border-radius: 10px;
  /* margin: 10px !important; */
}

.eventDate {
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  font-family: Inter, sans-serif;
  color: #000000;
  text-align: left;
}

.eventHeading {
  font-size: 1rem !important;
  font-weight: 700 !important;
  font-family: Inter, sans-serif;
  color: #8a1538;
  text-align: left;
  height: 45px !important;
  margin-top: 10px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}
.eventDescription {
  font-size: 0.8rem !important;
  font-weight: 400 !important;
  font-family: Inter, sans-serif;
  /* color: rgba(255, 255, 255, 1) !important; */
  text-align: left;
  height: 40px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-top: 10px !important;
}

.scrollButtonLeft {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: linear-gradient(
    to right,
    rgba(255, 92, 92, 0.4),
    rgba(82, 52, 130, 0.4)
  ) !important;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.scrollButtonRight {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-image: linear-gradient(
    to right,
    rgba(255, 92, 92, 0.4),
    rgba(82, 52, 130, 0.4)
  ) !important;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.sliderArrow {
  color: #fff;
}
